// Flex Configurations
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

%panel {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(128, 128, 128);
  border-radius: 5px;
  margin-bottom: auto;
  max-width: 500px;
  width: 75%;
}